.tchau{
    color: rgb(219, 158, 247);
    font-size: 23px;
    font-family: monospace;
    font-weight: 500;
    
    }
    
    .oi2{
    
        color: rgb(149, 247, 250);
    }
    
    .externa{
    
    color: rgb(224, 236, 108);
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    
    
    }
    